<%= form_with url: '/', method: :get do |f| %>
  <%= f.label :query, "Search by Recipe Name:" %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: session[:site_klass].constantize.text_input_hint,
    class: 'recipe-search-txt-box' %>
  <%= f.submit "Search" %>
  <br/>
  <table class='form-select-table'>
    <thead>
      <tr>
        <th>Ingredients</th>
        <th>Dietary Restrictions</th>
      </tr>
    </thead>
    <tbody>
      <tr valign=top>
        <td class='form-select-table-td'>
          <p class='small-note'>
            Ingredient options are combined with:
            <br/>
            <b>include:</b>
            <%= radio_button_tag :included_and_or,
              'AND',
              params[:included_and_or] == 'AND' ||
                params[:included_and_or].blank? %> AND
            <%= radio_button_tag :included_and_or,
              'OR',
              params[:included_and_or] == 'OR' %> OR
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <b>exclude:</b>
            <%= radio_button_tag :excluded_and_or,
              'AND',
              params[:excluded_and_or] == 'AND' ||
                params[:excluded_and_or].blank? %> AND
            <%= radio_button_tag :excluded_and_or,
              'OR',
              params[:excluded_and_or] == 'OR' %> OR
          </p>
          <div class='selection-form-div'>
            <%= render partial: 'ingredient_form' %>
          </div>
        </td>
        <td class='form-select-table-td'>
          <div class='selection-form-div'>
            <%= render partial: 'dietary_form' %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <%= f.submit "Search" %>
<% end %>
