<%= form_with url: '/', method: :get do |f| %>
  <%= f.label :query, "Search by Recipe Name:" %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: session[:site_klass].constantize.text_input_hint,
    class: 'recipe-search-txt-box' %>
  <%= f.submit "Search" %>
  <br/>
  <table class='form-select-table'>
    <thead>
      <tr>
        <th>Ingredients</th>
        <th>Dietary Restrictions</th>
      </tr>
    </thead>
    <tbody>
      <tr valign=top>
        <td class='form-select-table-td'>
          <div class='selection-form-div'>
            <%= render partial: 'ingredient_form' %>
          </div>
        </td>
        <td class='form-select-table-td'>
          <div class='selection-form-div'>
            <%= render partial: 'dietary_form' %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <%= f.submit "Search" %>
<% end %>
