<style>
  .form-select-table-td {
    padding: 20px;
  }
  .ingredient-image {
    height: 30px;
    width: 30px;
  }
  .xingredient-table {
    border: solid black 2px;
    margin: 20px;
    padding: 10px;
  }
</style>

<h1>Nomisito: Recipe Search</h1>

<div>
  <%= form_with url: '/', method: :get do |f| %>
    <%= f.label :site_klass, 'Change Recipe DB:' %>
    <%= select_tag :site_klass,
      options_from_collection_for_select(RecipeDbs.klasses,
                                         'klass',
                                         'name',
                                         session[:site_klass]) %>
    <%= submit_tag 'Change' %>
  <% end %>
</div>

<hr/>

<%= render partial: 'form' %>

<hr?

<%= render partial: 'recipes', locals: { recipes: @recipes } %>
